/* Uses code from http://stackoverflow.com/a/18066619 [2015-03-26 blaine1] */

#footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 960px;
    margin:auto;
    overflow:hidden;
}

#footer p {
	margin:0px;
	margin-top:10px;
}


body {
	font-family: helvetica;
	background-color: #FEFEFF;
	width:960px;
	margin:auto;
	margin-bottom:60px;
	color: #050051;
}

html{
	position: relative;
    min-height: 100%;

    /* http://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page [2015-03-26 blaine1] */

    overflow-y: scroll;

}

#content {
	margin: auto;
	margin-top: 20px;
}

table {
	border-collapse: collapse;
	width:100%;
}

table, th, td {
	border:2px solid #E1E1E1;
}

td {
	padding:5px;
}

tr:nth-child(even) {
	background-color: #F1F1F1;
}

#header {
	padding-top:20px;
}

#header h1 {
	text-align: right;
	color: #170EAE;
	font-size: 45px;
	width:750px;
	margin:0px;
	float:right;
}

#sub-nav {
	text-align: center;
}

#sub-nav h3 {

	padding:0px;
	margin:0px;
	display: inline-block;

}

#sub-nav ul, li {

	padding: 0px;
	margin: 0px;
	list-style: none;
	display:inline;
	text-align: center;

}

.button, input[type="submit"] {
	cursor:pointer;
	border:none;
	background-color:#6A62FF;
	color:#FEFEFF;
	display:inline-block;
	padding:10px;
	font-size: 19px;
	font-weight: bold;
	text-align: center;

}

#sub-nav li {
	margin-right: 10px;
	list-style: none;
	display: inline-block;
}

#nav {
	padding-top:20px;
	clear:both;
	text-align:left;
	color: #6A62FF;
}

#nav ul {
	padding:0px;
	margin:0px;
}

#nav li {
	padding:0px;
	margin-right: 30px;
	list-style: none;
	display: inline-block;
}



#nav h2 {
	font-size:20px;
	padding:0px;
	display: inline-block;
	margin:0px;
}

#nav a, a:visited {
	color: #6A62FF;
	text-decoration: none;
}

#sub-nav a, a:visited {
	color: #3129C1;
	text-decoration: none;
}

a, a:visited {
	color: #3129C1;
	text-decoration: none;
}

.separator {
	border:none;
	border-color: #8D8DFE;
	border-style: solid;
	border-bottom-width: 4px;
	clear:both;

}

.light-separator {
	border:none;
	border-color: #8D8DFE;
	border-style: solid;
	border-bottom-width: 2px;

	margin-bottom:20px;
	margin-top: 20px;
}

.failure {
	background-color: #AAFFAA;
	color: black;
	border: 1px #AA3939 solid;
	padding:5px;
	margin-bottom:5px;
}

.success {
	background-color: #FFAAAA;
	color: black;
	border: 1px #39AA39 solid;
	padding:5px;
	margin-bottom:5px;
}

#login {
	text-align: left;
	width:200px;
	float:left;

}

.username {
	font-size: 20px;
	font-weight: bold;
}

.row .label {
	display:block;
}

.label {
	margin-bottom: 3px;
}
.row {
	margin-bottom: 10px;
}
form input[type="submit"] {
	width:200px;
}
input, select {
	width: 200px;
}

.icon img {
	width:20px;
}

td.icon {
	width:20px;
	max-width: 20px;
}
input[type="text"], input[type="number"], 
input[type="password"], input[type="email"], 
input[type="date"] {
	padding:5px;
	font-size: 17px;
}
textarea, select {
	padding:5px;
	font-size: 15px;
}

select {
	background-color: #FEFEFF;
}

form {
	margin-bottom:20px;
}